# Loading data from CSV

In [35]:
## Loading data from files that don't have headers
import pandas as pd 
 
Location = "../datasets/smallgrades.csv"
df = pd.read_csv(Location, header=None)
df.head()

         0     1
0   Marcia  82.4
1   Kadeem  78.2
2     Nash  79.3
3  Noelani  83.2
4  Noelani  87.4

In [36]:
## Loading data from files that do have headers
 
Location = "../datasets/smallgrades.csv"
df = pd.read_csv(Location)
df.head()

    Marcia  82.4
0   Kadeem  78.2
1     Nash  79.3
2  Noelani  83.2
3  Noelani  87.4
4     Neil  88.7

In [37]:
df.columns = ['Names','Grades']
df.head()

     Names  Grades
0   Kadeem    78.2
1     Nash    79.3
2  Noelani    83.2
3  Noelani    87.4
4     Neil    88.7

In [ ]:
## Loading data without headers and adding them afterwards

import pandas as pd 
 
Location = "../datasets/smallgrades.csv"

# To add headers as we load the data...
df = pd.read_csv(Location, names=['Names','Grades'])

# To add headers to a dataframe that is already loaded...
df.columns = ['Names','Grades']
df.head()

### Your Turn
Can you make a dataframe from a file you have uploaded and
imported on your own? Let’s find out. Go to the census website
(http://census.ire.org/data/bulkdata.html) and download the csv datafile
for a state. Now try to import that data into python.

---
# Saving Data to CSV

In [ ]:
## Saving Data to CSV Files with Python and Pandas
import pandas as pd
names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,95,77,78,99]
GradeList = list(zip(names,grades))
df = pd.DataFrame(data = GradeList, columns=['Names','Grades'])
df.to_csv('studentgrades.csv',index=False,header=False)

### Your Turn
Can you export the dataframe created by the following code to csv?
Creating a dataset for the exercise

In [ ]:
import pandas as pd

names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,95,77,78,99]
bsdegrees = [1,1,0,0,1]
msdegrees = [2,1,0,0,0]
phddegrees = [0,1,0,0,0]

Degrees = list(zip(names,grades,bsdegrees,msdegrees,phddegrees))
columnames=['Names','Grades','BS','MS','PhD']
df = pd.DataFrame(data = Degrees, columns=columnnames)
df

---
# Loading Data from Excel Files with Python and Pandas

In [ ]:
import pandas as pd

Location = "../datasets/gradedata.xlsx"
df = pd.read_excel(Location)
df.head()

df.columns = ['first','last','sex','age','exer','hrs','grd','addr']
df.head()

### Your Turn
Can you make a dataframe from a file you have uploaded
and imported on your own? Let’s find out. Go to this website
(https://www.census.gov/support/USACdataDownloads.html) and
download one of the excel datafiles at the bottom of the page. Now try to
import that data into python.

---
# Saving Data to Excel with Python and Pandas

In [ ]:
import pandas as pd

### Create dataset to save
names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,95,77,78,99]
GradeList = list(zip(names,grades))
df = pd.DataFrame(data = GradeList, columns=['Names','Grades'])

In [ ]:
### Saving dataframe to Excel
writer = pd.ExcelWriter('dataframe.xlsx', engine='xlsxwriter')
df.to_excel(writer, sheet_name='Sheet1')
writer.save()

In [ ]:
### Exporting multiple dataframes onto multiple sheets
writer = pd.ExcelWriter('dataframe.xlsx', engine='xlsxwriter')
df.to_excel(writer, sheet_name='Sheet1')
df.to_excel(writer, sheet_name='Sheet2')
writer.save()

### Your Turn
Can you export the dataframe created by the following code to excel?
Creating a dataset for the exercise

In [ ]:
import pandas as pd
names = ['Nike','Adidas','New Balance','Puma','Reebok']
prices = [176,59,47,38,99]
PriceList = list(zip(names,prices))
df = pd.DataFrame(data = PriceList, columns=['Names','Prices'])

### Your Turn Again
In the datasets/weekly_call_data folder, there are 104 files of weekly call
data for 2 years. Your task is to try to load all of that data into one data
frame.

---
# Calculating and Removing Outliers

In [ ]:
## Standard Deviation Method

import pandas as pd
Location = ../"datasets/gradedata.csv"
df = pd.read_csv(Location)

meangrade = df['grade'].mean()
stdgrade = df['grade'].std()
toprange = meangrade + stdgrade * 1.96
botrange = meangrade - stdgrade * 1.96

copydf = df
copydf = copydf.drop(copydf[copydf['grade'] > toprange].index)
copydf = copydf.drop(copydf[copydf['grade'] < botrange].index)
copydf

In [ ]:
## Interquartile Range Method

import pandas as pd

Location = "../datasets/gradedata.csv"
df = pd.read_csv(Location)

q1 = df['grade'].quantile(.25)
q3 = df['grade'].quantile(.75)
iqr = q3-q1
toprange = q3 + iqr * 1.5
botrange = q1 - iqr * 1.5

copydf = df
copydf = copydf.drop(copydf[copydf['grade'] > toprange].index)
copydf = copydf.drop(copydf[copydf['grade'] < botrange].index)
copydf

### Your Turn
Load the dataset datasets/outlierdata.csv. Can you remove the outliers?
Try it with both methods

---
# Missing Data in Pandas Dataframes

In [ ]:
import pandas as pd
df = pd.read_csv("../datasets/gradedatamissing.csv")
df.head()

In [ ]:
### Drop rows with missing data
df_no_missing = df.dropna()
df_no_missing

In [ ]:
### Add a column with empty values
import numpy as np
df['newcol'] = np.nan
df.head()

In [ ]:
### Drop completely empty columns
df.dropna(axis=1, how='all')

In [ ]:
### Replace empty cells with 0
df.fillna(0)

In [ ]:
### Replace empty cells with average of column
df["grade"].fillna(df["grade"].mean(), inplace=True)

In [ ]:
df["grade"].fillna(df.groupby("gender")["grade"].transform("mean"), inplace=\
True)

In [ ]:
### Selecting rows with no missing age or gender
df[df['age'].notnull() & df['gender'].notnull()]

### Your Turn
Load the dataset datasets/missinggrade.csv. Your mission, if you choose to
accept it, is to delete rows with missing grades and to replace the missing
values in hours of exercise by the mean value for that gender.

---
# Filtering Inappropriate Values

In [ ]:
import pandas as pd
names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,-2,77,78,101]
GradeList = list(zip(names,grades))
df = pd.DataFrame(data = GradeList, columns=['Names', 'Grades'])
df

In [ ]:
df.loc[df['Grades'] <= 100]

In [ ]:
df.loc[df['Grades'] <= 77, 'Grades'] = 100
df

### Your Turn
Using the dataset from above, can you replace all the subzero grades with
a grade of zero?

---
# Finding Duplicate Rows

In [ ]:
import pandas as pd
names = ['Jessica','John','Bob','Jessica','Mary','John','Mel','Mel']
grades = [95,78,76,95,77,78,99,100]
GradeList = list(zip(names,grades))
df = pd.DataFrame(data = GradeList, columns=['Names', 'Grades'])
df

In [ ]:
df.duplicated()

In [ ]:
df.drop_duplicates()

In [ ]:
df.drop_duplicates(['Names'], keep='last')

### Your Turn
Load the dataset datasets/dupedata.csv. We figure people with the same
address are duplicates. Can you drop the duplicated rows while keeping
the first?

---
# Binning Data

In [ ]:
import pandas as pd

Location = "../datasets/gradedata.csv"
df = pd.read_csv(Location)

df.head()

# Define bins as 0 to 60, 60 to 70, 70 to 80, 80 to 90, 90 to 100
# Create the bin dividers
bins = [0, 60, 70, 80, 90, 100]

# Create names for the four groups
group_names = ['F', 'D', 'C', 'B', 'A']

df['lettergrade'] = pd.cut(df['grade'], bins, labels=group_names)
df.head(5)

In [ ]:
pd.value_counts(df['lettergrade'])

### Your Turn
Recreate the dataframe from above and create a column classifying the
row as Pass or Fail. This is for an elite program that requires at least an
80 or above for a student to pass.

---
# Applying Functions to Bins

In [ ]:
import pandas as pd

Location = "../datasets/gradedata.csv"
df = pd.read_csv(Location)
df.head()

# Create the bin dividers
bins = [0, 60, 70, 80, 90, 100]

# Create names for the four groups
group_names = ['F', 'D', 'C', 'B', 'A']

df['letterGrades'] = pd.cut(df['grade'], bins, labels=group_names)
df.head()

In [ ]:
df.groupby('letterGrades')['hours'].mean()

In [ ]:
df['grade'] = df['grade'] = df['grade'].apply(lambda x: int(x))
df.head()

In [ ]:
gender_preScore = df['grade'].groupby(df['gender'])
gender_preScore.mean()

### Your Turn
Import the datasets/gradedata.csv file, and create a new binned column
of the ‘status’ as either passing (> 70) or failing (<=70). Then compute the
mean hours of exercise of the female students with a ‘status’ of passing.

---
# Ranking Rows of Data

In [ ]:
import pandas as pd

Location = "../datasets/gradedata.csv"
df = pd.read_csv(Location)

df.head()

df['graderanked'] = df['grade'].rank(ascending=1)
df.tail()

df[df['graderanked'] < 21]

In [ ]:
df[df['graderanked'] < 6].sort_values('graderanked')

### Your Turn
Can you find the 50 students with the most hours of study per week?

---
# Creating a Column Based on a Conditional

In [ ]:
import pandas as pd

Location = "../datasets/gradedata.csv"
df = pd.read_csv(Location)

df.head()

In [ ]:
import numpy as np
df['isFailing'] = np.where(df['grade']<70, 'yes', 'no')
df.tail(10)

In [ ]:
df['isFailingMale'] = np.where((df['grade']<70) & (df['gender'] == 'male'), 'yes', 'no')
df.tail(20)

### Your Turn
Can you create a column for ‘timemgmt’ that shows ‘busy’ if a student
exercises > 3 hours per week AND studies > 17 hours per week?

---
# Making a New Column with Functions

In [ ]:
import pandas as pd

Location = "../datasets/gradedata.csv"
df = pd.read_csv(Location)

df.head()

In [ ]:
def singlename(fn, ln):
    return fn + " " + ln

In [ ]:
df['fullname'] = singlename(df['fname'], df['lname'])
df.head(10)

### Your Turn
Can you create a column called total time that adds together the hours of
study per week and the hours of exercise per week?

---
# Converting String Categories to Numeric Variables

In [ ]:
import pandas as pd

Location = "../datasets/gradedata.csv"
df = pd.read_csv(Location)

df.head()

In [ ]:
def score_to_numeric(x):
    if x=='female':
        return 1
    if x=='male':
        return 0

In [ ]:
df['gender_val'] = df['gender'].apply(score_to_numeric)
df.tail()

In [ ]:
df_gender = pd.get_dummies(df['gender'])
df_gender.tail()

In [ ]:
# Join the dummy variables to the main dataframe
df_new = df.join(df_gender)
df_new.tail()

### Your Turn
Using datasets/gradesdatawithyear.csv, can you create a numeric column
to replace status freshman through senior with 1 - 4?

---
# Removing And Adding Columns

In [ ]:
import pandas as pd
import numpy as np

names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,95,77,78,99]
bsdegress = [1,1,0,0,1]
msdegrees = [2,1,0,0,0]
phddegrees = [0,1,0,0,0]

GradeList = list(zip(names,grades,bsdegress,msdegrees,phddegrees))
df = pd.DataFrame(data = GradeList, columns=['Names','Grades','BS','MS','PhD'])
df

In [ ]:
df.drop('PhD', axis=1)
df

In [ ]:
df['HighSchool']=0
df

In [ ]:
# Fill the new column with Not A Number data
df['PreSchool'] = np.nan

# Manually add data for new column
d = ([0,1,0,1,0])
s = pd.Series(d, index= df.index)
df['DriversLicense'] = s
df

### Your Turn
1. Can you remove the bs, ms and phd degree columns?
2. Can you add a Hogwarts Magic Degree column? Everyone but
Jessica has one, does that make it harder? No. Then I have to be
sure to stump you next time.

---
# Selecting Columns

In [ ]:
import pandas as pd

Location = "../datasets/gradedata.csv"
df = pd.read_csv(Location)

df.head()

In [ ]:
# To get it as a list
df['fname']

In [ ]:
# To get it as a dataframe
df[['fname']]

In [ ]:
# To return multiple columns
df[['fname','age','grade']]

In [ ]:
# To create a new dataframe from your data
df2 = df[['fname','age','grade']]
df2.head()

### Your Turn
We need to create a mailing list. Can you create a new dataframe by
selecting the first name, last name and address fields?

---
# Change Column Name

In [ ]:
import pandas as pd

Location = "../datasets/gradedata.csv"
df = pd.read_csv(Location)

df.head()

In [ ]:
df.columns = ['FirstName', 'LastName', 'Gender', 'Age', 'HoursExercisePerWeek','HoursStudyPerWeek', 
              'LetterGrade', 'StreetAddress']
df.head()

In [ ]:
headers = list(df.columns.values)

In [ ]:
headers[0] = 'FName'
headers[1] = 'LName'
df.columns = headers
df.head()

### Your Turn
Can you change the “age” column name to “years”?